# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jordan Utrera\OneDrive - Universidad Veracruzana\6to semestre\principios de construccion\Practicas\Gestor de tutorias\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
